<% flash.each do |name, msg| %>

<div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissible fade show mt-3" role="alert">
<%= msg %>
<!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--partie pour afficher la fermeture de l'alerte-->
</div>  

<% end %>
<!--J'afficherais tous les messages flash reçu ici-->